{% extends "base.html" %}
{% load getNotes %}
{% block content %}
<title>All notes</title>
</head>
<body>
    View all of your notes here:
    <br />
    <br />
    <div class="gridContainer">
        {% for note in Note %}
            <div class="note large">
                {% for x in "this"|returnPosList %}
                <div class="controller {{x}}"></div>
                {% endfor %}
                <span class="noteName">{{ note.noteName }}</span>
                <br />
                {{note.noteTags}}
                <br />
                <br />
                {{ note.noteLocation|getNoteBody|safe }}
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
    var base = 140;
    var gutter = 20;
    var columns = 6;
        $('.gridContainer').gridly({
      base: base, // px 
      gutter: gutter, // px
      columns: columns
    });

    defaultWidth = 300;

   $(".controller.right").mousedown( function(event) {
        event.preventDefault();
        event.stopPropagation();

    });
    $(".controller.right").mousedown(function(event) {
        var note = $(this).parent();
        var container = $(this).parent().parent();
        gridlyLayout = $(document).bind("mousemove",function(e){ 
            e.preventDefault();
            e.stopPropagation();
            gridWidth = columns * (gutter * base);
            noteWidth = note.width();
            if (e.pageX - container.position().left > note.position().left + noteWidth + base + gutter) {
                note.width(note.width() + base + gutter);
                return $('.gridContainer').gridly("layout");
            }
        });
        return gridlyLayout
    });

    $(document).mouseup(function(event) {
        $(document).unbind("mousemove");
    });

    $(document).on("click", ".controller.left", function(e){
        e.preventDefault();
        e.stopPropagation();
        note = $(this).parent();
        note.width(defaultWidth);
        return $('.gridContainer').gridly("layout");
    });
    </script>
{% endblock %}